<section id="contact" class="contact section grey section-without-pb">
    <div class="container-fluid">
        <div class="row">
            <div class="section-title animated" data-animation="fadeInUp" data-animation-delay="700">
                <h2><span class="extrabold">Fale </span> Conosco</h2>
                <div class="section-title-line">
                    <div class="section-title-icon">
                        <img src="{{ asset('frangonorte/images/shrimp_icon.png') }}" alt="">
                    </div>
                    <hr>
                </div>
                {{ pagFaleConosco.texto|raw }}
            </div><!-- end .section-title -->
            <div class="col-md-6 side-image-right pull-right">
                <img src="{{ asset('uploads/paginas/' ~ pagFaleConosco.imageName) }}" alt=" {{ pagFaleConosco.titulo }}">
            </div>
            <div class="col-md-6">
                <ul class="contact-details">
                    <li class="contact-address">Parque Agroindustrial <br />QD 1 - MOD 13-20<br /> Paraíso do Tocantins/TO</li>
                    <li class="contact-tel">(63) 3361-0000</li>
                    <li class="contact-email">contato@frangonorte.com.br</li>
                </ul>
            </div>
        </div><!-- end .row -->
    </div><!-- end .container -->
</section>
<script type="text/javascript">
    (function(angular) {
        'use strict';
        var myApp = angular.module('FrontApp', ['ngMask']).config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
        }]);

        myApp.controller('ContatosController', ['$scope', '$http', function($scope, $http) {
            $scope.data = "";
            $scope.animationsEnabled = true;
            $scope.exibirMensagem = function(mensagem)
            {
                alert(mensagem);
            }
            $scope.enviar = function()
            {
                $http({
                    method: 'POST',
                    url: Routing.generate('cms_contatos_send'),
                    data: $.param($scope.data)
                }).success(function(data){
                    $scope.data = {};
                    $scope.formContato.$setPristine();

                    $scope.exibirMensagem(data.success);
                }).error(function(data){
                    $scope.exibirMensagem(data.error);
                });
            }
        }]);
    })(window.angular);
</script>

<section id="contact-form" class="contact-form section">
    <div class="container">
        <div class="row" ng-app="FrontApp" ng-controller="ContatosController">
            <div class="log"></div>
            <section id="contact-form" class="contact-form section">
                <div class="container" ng-app="FrontApp" ng-controller="ContatosController">
                    <div class="row">
                        <div class="log"></div>
                        <form name="formContato" class="form-horizontal" role="form" ng-submit="enviar()" novalidate="novalidate">
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error' : formContato.assunto.$invalid && formContato.assunto.dirty }">
                                    <label for="assunto">Assunto: <span ng-show="formContato.$submitted && formContato.assunto.$error.required" style="color: #d9534f;"><i class="fa fa-exclamation-circle"></i> <strong>Atenção:</strong> O assunto deve ser informado. </span></label>
                                    <select class="form-control" name="assunto" ng-model="data.assunto" required>
                                        <option value="">[Selecione o Assunto]</option>
                                        {% for item in assuntos %}
                                            <option value="{{ item.id }}">{{ item.titulo }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : formContato.nome.$invalid && formContato.nome.dirty }">
                                    <label for="nome">Nome: <span ng-show="formContato.$submitted && formContato.nome.$error.required" style="color: #d9534f;"><i class="fa fa-exclamation-circle"></i> <strong>Atenção:</strong> O nome deve ser informado. </span></label>
                                    <input tabindex="1" type="text" class="form-control" name="nome" placeholder="Seu Nome" ng-model="data.nome" required>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : formContato.email.$invalid && formContato.email.dirty }">
                                    <label for="email">Email: <span ng-show="formContato.$submitted && formContato.email.$error.required" style="color: #d9534f;"><i class="fa fa-exclamation-circle"></i> <strong>Atenção:</strong> O e-mail deve ser informado. </span><span ng-show="formContato.$submitted && formContato.email.$error.email" style="color: #d9534f;"><i class="fa fa-exclamation-circle"></i> <strong>Atenção:</strong> Informe um e-mail válido. </span></label>
                                    <input tabindex="2" type="email" class="form-control" name="email" placeholder="Seu E-mail" ng-model="data.email" required>
                                </div>
                                <div class="form-group">
                                    <label for="celular">Telefone: </label>
                                    <input tabindex="3" type="tel" class="form-control" name="celular" placeholder="Seu Telefone" ng-model="data.telefone" mask="(99)9?9999-9999">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error' : formContato.texto.$invalid && formContato.texto.dirty  }" >
                                    <label for="texto">
                                        Mensagem: <span style="color: #d9534f;" ng-show="formContato.$submitted && formContato.texto.$error.required" ><i class="fa fa-exclamation-circle"></i> <strong>Atenção:</strong> O texto deve ser informado.</span>
                                    </label>
                                    <textarea tabindex="5" class="form-control" name="texto" rows="13" placeholder="Sua Mensagem" ng-model="data.texto" required></textarea>
                                </div>
                                <div class="button">
                                    <input type="hidden" id="sendContac" name="sendContact" value="send" />
                                    <button tabindex="6" type="submit" name="submit" id="submit" ><i class="fa fa-envelope"></i> Enviar Mensagem</button>
                                </div>
                            </div>
                        </form><!-- end contact form -->
                    </div><!-- end .row -->
                </div><!-- end .container -->
            </section>
            <!-- end contact form -->
        </div><!-- end .row -->
    </div><!-- end .container -->
</section>