{% extends 'PortalBundle:Default:default.html.twig' %}
{% block title %}{{ titulo }}{% endblock %}
{% block body %}
    <!-- bem vindo -->
    <section id="welcome" class="welcome section">
        <div class="container">
            <div class="row">
                <div class="section-title animated" data-animation="fadeInUp" data-animation-delay="700">
                    <h2><span class="extrabold">{{ pagBemVindo.retranca }}</span> {{ pagBemVindo.titulo }}</h2>
                    <div class="section-title-line animated" data-animation="fadeInUp" data-animation-delay="900">
                        <div class="section-title-icon">
                            <img src="{{ asset('frangonorte/images/shrimp_icon.png' ) }}" alt="">
                        </div>
                        <hr>
                    </div>
                    <p>
                        {{ pagBemVindo.resumo }}
                    </p>
                </div><!-- end .section-title -->
                <div class="welcome-image text-center">
                    <img src="{{ asset('uploads/paginas/' ~ pagBemVindo.imageName) }}" alt="">
                </div>
                <br />
                <div class="col-md-6">
                    <h3 class="without-margin">
                        <span class="extrabold">
                            {{ pagSecundaria.retranca }}
                        </span>
                    </h3>
                    <h3>{{ pagSecundaria.titulo }}</h3>
                    <p>
                        {{ pagSecundaria.resumo }}
                        <br/>
                        <a href="fron">Leia mais</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <h3 class="without-margin">
                        <span class="extrabold">
                            {{ pagTerciaria.retranca }}
                        </span>
                    </h3>
                    <h3>{{ pagTerciaria.titulo }}</h3>
                    <p>
                        {{ pagTerciaria.resumo }}
                    </p>
                </div>
            </div><!-- end .row -->
        </div><!-- end .container -->
    </section>
    <!-- bem vindo -->
    <!-- about us -->
    <section id="about" class="about section grey section-without-pb">
        <div class="container-fluid">
            <div class="row">
                <div class="section-title animated" data-animation="fadeInUp" data-animation-delay="700">
                    <h2><span class="extrabold">{{ pagSobre.retranca }}</h2>
                    <div class="section-title-line">
                        <div class="section-title-icon">
                            <img src="{{ asset('frangonorte/images/shrimp_icon.png') }}" alt="">
                        </div>
                        <hr>
                    </div>
                    <p>
                        {{ pagSobre.resumo }}
                    </p>
                </div><!-- end .section-title -->
                <div class="col-md-6 side-image-left">
                    <div class="image-slider owl-carousel animated" data-animation="fadeInLeft" data-animation-delay="1000">
                        <div class="swiper-slide"><img src="{{ asset('uploads/paginas/' ~ pagSobre.imageName) }}" alt=""></div>
                    </div><!-- end .image-slider -->
                </div>
                <div class="col-md-6">
                    <div class="tab-set animated" data-animation="fadeInRight" data-animation-delay="1000">
                        <ul class="tabs-titles">
                            {% for item in pagSobre1 %}
                            <li>{{ item.titulo }}</li>
                            {% endfor %}
                        </ul>
                        {% for item in pagSobre1 %}
                        <div class="tab-content">
                            <p>
                                {{ item.resumo }}
                            </p>
                        </div>
                        {% endfor %}
                    </div><!-- end .tab-set -->

                    <div class="accordion animated" data-animation="fadeInRight" data-animation-delay="1000">
                        {% for item in pagSobre2 %}
                        <div class="acc-item">
                            <div class="acc-head {% if loop.first %}current{% endif %}">{{ item.titulo }}</div>
                            <div class="acc-content">
                                <p>
                                    {{ item.resumo }}
                                </p>
                            </div><!-- end .acc-content -->
                        </div><!-- end .acc-item -->
                        {% endfor %}
                    </div><!-- end .accordion -->
                </div>
            </div><!-- end .row -->
        </div><!-- end .container -->
    </section>
    <!-- Produtos -->
    <section id="gallery" class="gallery section grey">
        <div class="container">
            <div class="row">
                <div class="section-title animated" data-animation="fadeInUp" data-animation-delay="700">
                    <h2><span class="extrabold">{{ pagProduto.retranca }}</span> {{ pagProduto.titulo }}</h2>
                    <div class="section-title-line">
                        <div class="section-title-icon">
                            <img src="{{ asset('frangonorte/images/shrimp_icon.png') }}" alt="">
                        </div>
                        <hr>
                    </div>
                    <p>
                        {{ pagProduto.resumo }}
                    </p>
                </div><!-- end .section-title -->
                {% for produto in produtos %}
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="gallery-item animated" data-animation="flipInY" data-animation-delay="2000">
                        <a href="{{ path('front_produto', {'id' : produto.id, 'slug': produto.slug}) }}">
                            <img src="{{ asset('uploads/produtos/' ~ produto.imageName) }}" alt="">
                            <h4><span class="extrabold">{{ produto.categoriaProduto.titulo }}</span> {{ produto.titulo }}</h4>
                        </a>
                    </div><!-- end .gallery-item -->
                </div><!-- end col -->
                {% endfor %}
                <div class="text-center animated" data-animation="fadeInDown" data-animation-delay="3000">
                    <div class="button">
                        <a href="{{ path('front_produtos') }}">Veja nossos produtos</a>
                    </div>
                </div>
            </div><!-- end .row -->
        </div><!-- end .container -->
    </section>
    <!-- receitas -->
    <section id="special-gallery" class="special-gallery section section-without-pb">
        <div class="container">
            <div class="row">
                <div class="section-title animated" data-animation="fadeInUp" data-animation-delay="700">
                    <h2><span class="extrabold">{{ pagReceita.retranca }} </span> {{ pagReceita.titulo }}</h2>
                    <div class="section-title-line">
                        <div class="section-title-icon">
                            <img src="{{ asset('frangonorte/images/shrimp_icon.png') }}" alt="">
                        </div>
                        <hr>
                    </div>
                    <p>
                        {{ pagReceita.resumo }}
                    </p>
                </div><!-- end .section-title -->
            </div><!-- end .row -->
        </div><!-- end .container -->
        <div class="special-gallery-container clearfix">
            {% for item in galerias %}
            <div class="special-gallery-item">
                <div class="special-gallery-flow-effect">
                    <img src="{{ asset('uploads/galerias/' ~ item.imageName) }}" alt="{{ item.titulo  }}">
                    <div class="special-gallery-overlay">
                        <h3>{{ item.titulo }}</h3>
                    </div><!-- end .special-gallery-overlay -->
                </div><!-- end .special-gallery-flow-effect -->
            </div><!-- end .special-gallery-item -->
            {% endfor %}
        </div><!-- end .special-gallery-container -->
    </section>
    <!-- notices -->
    <section id="blog" class="blog section">
        <div class="container">
            <div class="row">
                <div class="section-title animated" data-animation="fadeInUp" data-animation-delay="700">
                    <h2><span class="extrabold">Nossas</span> Notícias</h2>
                    <div class="section-title-line">
                        <div class="section-title-icon">
                            <img src="{{ asset('frangonorte/images/shrimp_icon.png') }}" alt="">
                        </div>
                        <hr>
                    </div>
                    {{ pagNossasNoticias.texto|raw }}
                </div><!-- end .section-title -->
                <div id="carousel-noticias" class="owl-carousel">
                    {% for item in noticias %}
                    <article class="post-item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="post-image">
                                    <a href="{{ path('front_noticia', {'id' : item.id, 'slug': item.slug}) }}"><img src="{{ asset('uploads/noticias/' ~ item.imageName) }}" alt=""></a>
                                </div><!-- end .post-image -->
                            </div><!-- end .col -->
                            <div class="col-md-6">
                                <div class="post-content">
                                    <h3 class="post-title"><a href="{{ path('front_noticia', {'id' : item.id, 'slug': item.slug}) }}"><span class="extrabold">{{ item.titulo }}</span></a></h3>
                                    <div class="post-meta">
                                        <span class="post-date">{{ item.created|date('d/m/Y H:i:s') }}</span> por <a href="#">Departamento de Comunicação</a>
                                    </div><!-- end .post-meta -->
                                    <div class="post-entry">
                                        <p>
                                            {{ item.resumo }}
                                        </p>
                                    </div><!-- end .post-entry -->
                                </div><!-- end .post-content -->
                            </div><!-- end .col -->
                        </div><!-- end .row -->
                    </article>
                    {% endfor %}
                </div>
            </div><!-- end .row -->
        </div><!-- end .container -->
    </section>
{% endblock %}