{% extends "CMSBundle:Default:list.html.twig" %}
{% block title %}{{ titulo }}{% endblock %}
{% block kit_grid_thead_column %}
    <th>Opções</th>
{% endblock %}
{% block kit_grid_tbody_column %}
    <td>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu_{{ item['item.id'] }}" data-toggle="dropdown">
            <i class="fa fa-dashboard"></i>
                Configurações do Usuário
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu_{{ item['item.id'] }}">
            <li role="presentation" class="dropdown-header">
                Opções
            </li>
              <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="{{ path ("cms_pessoas_atualizar_perfil", {"id": item['item.id']}) }}">
                      <span class="fa fa-user"></span> Liberar Acessos
                  </a>
              </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{{ path ("cms_pessoas_atualizar", {"id": item['item.id'], "tipo" : 1}) }}">
                   <span class="glyphicon glyphicon-edit"></span> Pessoa Jurídica
                </a>
            </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{{ path ("cms_pessoas_atualizar", {"id": item['item.id'], "tipo" : 2}) }}">
                    <span class="glyphicon glyphicon-edit"></span> Pessoa Física
                </a>
            </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{{ path ("cms_pessoas_atualizar_foto", {"id": item['item.id']}) }}">
                    <span class="fa fa-image"></span> Atualizar Foto
                </a>
            </li>

            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{{ path ("cms_pessoas_visualizar", {"id": item['item.id']}) }}">
                    <i class="fa fa-search"></i> Visualizar dados do Cliente
                </a>
            </li>
          </ul>
        </div>
    </td>
{% endblock %}