{% extends "CMSBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Nome</td>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>{{ entity.email }}</td>
        </tr>
        {% if entity.tipoCliente == 1 %}
            <tr>
                <td>Nome Fantasia</td>
                <td>{{ entity.nomeFantasia }}</td>
            </tr>
            <tr>
                <td>CNPJ</td>
                <td>{{ entity.cnpj }}</td>
            </tr>
            <tr>
                <td>Insc. Estadual</td>
                <td>{{ entity.inscricaoEstadual }}</td>
            </tr>
            <tr>
                <td>Insc. Municipal</td>
                <td>{{ entity.inscricaoMunicipal }}</td>
            </tr>
        {% else %}
            <tr>
                <td>CPF</td>
                <td>{{ entity.cpf }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>Endereço</td>
            <td>{{ entity.endereco }}</td>
        </tr>
        <tr>
            <td>Complemento</td>
            <td>{{ entity.complemento }}</td>
        </tr>
        <tr>
            <td>Bairro</td>
            <td>{{ entity.bairro }}</td>
        </tr>
        <tr>
            <td>Cidade/Estado</td>
            <td>{{ entity.cidade }}/{{ entity.estado }}</td>
        </tr>
        {% if entity.imageName  %}
            <tr>
                <td>Imagem: </td>
                <td>
                    <img src="{{ asset('uploads/pessoas/' ~ entity.imageName)}}" class='img-responsive img-thumbnail' />
                </td>
            </tr>
        {% endif %}
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('cms_pessoas_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Registros
    </a>
    <a class="btn btn-default" href="{{ path('cms_pessoas_atualizar', {'id' : entity.id, 'tipo' : entity.tipoCliente }) }}">
        <span class="fa fa-edit"></span> Alterar Registro
    </a>
    <a class="btn btn-default" href="{{ path('cms_pessoas_atualizar_foto', {'id' : entity.id }) }}">
        <span class="fa fa-image"></span> Atualizar Foto
    </a>
    <a class="btn btn-default" href="{{ path('cms_pessoas_atualizar_perfil', {'id' : entity.id }) }}">
        <span class="fa fa-user"></span> Atualizar Perfil
    </a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('cms_pessoas_delete', {'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Registro
    </a>
{% endblock %}