{% extends "CMSBundle:Default:security.html.twig" %}
{% block body %}
    <h1>Problema de acesso</h1>
    <h2>Você não tem permissão para acessar essa área.</h2>
    <div>
        Contate o administrador do site
    </div>
{% endblock %}