{% extends "CMSBundle:Default:security.html.twig" %}
{% block body %}
    <h1>Atenção aconteceu um erro</h1>
    <h2>Informação retornada pelo servidor "{{ status_code }} {{ status_text }}".</h2>

    <div>
        Contate o administrador do site
    </div>
{% endblock %}