<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" lang="en-US"><!--<![endif]-->
<head>

    <title>{% block titulo %}{{ titulo }}{% endblock %}</title>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Seo Meta -->
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Styles -->
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ asset('frangonorte/styles/font-awesome.min.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('frangonorte/styles/prettyPhoto.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('frangonorte/styles/bootstrap.min.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('frangonorte/styles/owl.carousel.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('frangonorte/styles/owl.theme.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('frangonorte/styles/animate.min.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('frangonorte/style.css') }}" media="screen" />
    {% endblock %}
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,300,200,100,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('frangonorte/images/favicon.png') }}">

    <script type="text/javascript" src="{{ asset('js/bower_components/angular/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bower_components/ngMask/dist/ngMask.min.js') }}"></script>
</head>

<body>
    {% block header%}
        <header id="header">
            <div id="logo" class="text-center animated" data-animation="fadeInUp" data-animation-delay="400" >
                <a href="{{ path('front_home') }}"><img src="{{ asset('frangonorte/images/frangonorte_logo.png') }}" alt="Logo"></a>
            </div><!-- end logo -->
            <div id="slideshow">
                <ul class="rslides">
                    {% for item in banners %}
                    <li style="background-image: url({{ asset('uploads/banners/' ~ item.imageName) }});">
                        <img src="{{ asset('uploads/banners/' ~ item.imageName) }}" alt="">
                        <div class="slideshow-caption">
                            <h1>{{ item.titulo }}</h1>
                            <div class="button">
                                <a href="{{ item.link }}">Acessar</a>
                            </div>
                        </div><!-- end .slideshow-caption -->
                    </li><!-- end .slideshow item -->
                    {% endfor %}
                </ul>
            </div><!-- end slideshow -->
        </header>

        <nav id="navigation">
            <div class="nav-container">
                <ul>
                    <li><a class="active" href="#welcome">Bem Vindo</a></li>
                    <li><a href="#about">Sobre <span class="extrabold">Nós</span></a></li>
                    <li><a href="#gallery">Nossos <span class="extrabold">Produtos</span></a></li>
                    <li><a href="#special-gallery">Nossas <span class="extrabold">Receitas</span></a></li>
                    {#<li><a href="#big-menu">Our <span class="extrabold">Menu</span></a></li>#}
                    {#<li><a href="#cooks">Our <span class="extrabold">Cooks</span></a></li>#}
                    <li><a href="#blog">Nossas <span class="extrabold">Notícias</span></a></li>
                    <li><a href="#contact">Fale <span class="extrabold">Conosco</span></a></li>
                </ul>
            </div><!-- end .nav-container -->
        </nav>

        <nav id="mobile-navigation">
            <div class="mobile-nav-container">
                <div id="menu-toggle">
                    <i class="fa fa-bars"></i>
                </div>
                <ul class="inactive">
                    <li><a class="active" href="#welcome">Bem vindo</a></li>
                    <li><a href="#about">Sobre <span class="extrabold">Nós</span></a></li>
                    <li><a href="#gallery">Nossos <span class="extrabold">Produtos</span></a></li>
                    <li><a href="#special-gallery">Nossas <span class="extrabold">Receitas</span></a></li>
                        {#<li><a href="#big-menu">Our <span class="extrabold">Menu</span></a></li>#}
                    {#<li><a href="#cooks">Our <span class="extrabold">Cooks</span></a></li>#}
                    <li><a href="#blog">Nossas <span class="extrabold">Notícias</span></a></li>
                    <li><a href="#contact">Fale <span class="extrabold">Conosco</span></a></li>
                </ul>
            </div><!-- end .mobile-nav-container -->
        </nav>
        <a href="#" class="scrollup">
            <i class="fa fa-angle-double-up"></i>
        </a><!-- end .scrollup -->
    {% endblock %}
    {% block nav %}

    {% endblock %}
    {% block body %}

    {% endblock %}
    <!-- Contato -->
    {% include('@Portal/home/contato.html.twig') %}
    <!-- Contato -->
    <!-- Google Maps -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script>
        var latlng=new google.maps.LatLng(-10.25925553154425,-48.883763551712036);
        function initialize() {
            var mapProp = {
                center:latlng,
                scrollwheel: false,
                zoom:15,
                zoomControl:true,
                mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
                navigationControl: true,
                navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
                panControl:true,
                //mapTypeId:google.maps.MapTypeId.ROADMAP
                mapTypeId:google.maps.MapTypeId.HYBRID
            };
            var map=new google.maps.Map(document.getElementById("google-map-id"),mapProp);
            var marker=new google.maps.Marker({
                position:latlng,
                map: map,
                title: 'Frango Norte'
            });
            marker.setMap(map);
            var infowindow = new google.maps.InfoWindow({
                content:"Paraíso, Tocantins"
            });
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map,marker);
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <section id="google-map">
        <div class="googlemap-container">
            <div id="google-map-id" class="google-map"></div>
        </div><!-- end .googlemap-container -->
    </section>
    <!-- Google Maps -->
    {% block footer %}
        <footer id="footer">
            <div class="footer-container">
                <ul class="socials">
                    <li class="facebook"><a href="#" class="circle-icon"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#" class="circle-icon"><i class="fa fa-twitter"></i></a></li>
                    <li class="flickr"><a href="#" class="circle-icon"><i class="fa fa-flickr"></i></a></li>
                    <li class="youtube"><a href="#" class="circle-icon"><i class="fa fa-youtube"></i></a></li>
                    <li class="rss"><a href="#" class="circle-icon"><i class="fa fa-rss"></i></a></li>
                    <li class="share-alt"><a href="#" class="circle-icon"><i class="fa fa-share-alt"></i></a></li>
                    <!--<li class="pinterest"><a href="#" class="circle-icon"><i class="fa fa-pinterest"></i></a></li>-->
                    <!--<li class="github"><a href="#" class="circle-icon"><i class="fa fa-github"></i></a></li>-->
                    <!--<li class="google-plus"><a href="#" class="circle-icon"><i class="fa fa-google-plus"></i></a></li>-->
                    <!--<li class="linkedin"><a href="#" class="circle-icon"><i class="fa fa-linkedin"></i></a></li>-->
                    <!--<li class="skype"><a href="#" class="circle-icon"><i class="fa fa-skype"></i></a></li>-->
                    <!--<li class="tumblr"><a href="#" class="circle-icon"><i class="fa fa-tumblr"></i></a></li>-->
                </ul>
                <h5 class="footer-copyright">Frango Norte @ Todos os Direitos Reservados - <a href="http://betagt.com.br">BetaGT Desenvolvimento de Software</a>.</h5>
            </div>
        </footer>
    {% endblock %}
    {% block javascript %}
        <!-- Scripts -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="{{ asset('frangonorte/scripts/jquery-1.11.0.min.js') }}?ver=1"></script>
        <![endif]-->
        <!--[if (gte IE 9) | (!IE)]><!-->
        <script type="text/javascript" src="{{ asset('frangonorte/scripts/jquery-2.1.0.min.js') }}?ver=1"></script>
        <!--<![endif]-->
        <script type="text/javascript" src="{{ asset('frangonorte/scripts/jquery.easing.js') }}"></script>
        <script type="text/javascript" src="{{ asset('frangonorte/scripts/jquery.prettyPhoto.js') }}"></script>
        <script type="text/javascript" src="{{ asset('frangonorte/scripts/jquery.tools.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('frangonorte/scripts/owl.carousel.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('frangonorte/scripts/jquery.nav.js') }}"></script>
        <script type="text/javascript" src="{{ asset('frangonorte/scripts/jquery.scrollTo.js') }}"></script>
        <script type="text/javascript" src="{{ asset('frangonorte/scripts/jquery.sticky.js') }}"></script>
        <script type="text/javascript" src="{{ asset('frangonorte/scripts/jquery.appear.js') }}"></script>
        <script type="text/javascript" src="{{ asset('frangonorte/scripts/responsiveslides.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('frangonorte/scripts/verge.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('frangonorte/scripts/custom.js') }}"></script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% endblock %}
</body>
</html>