{% block javascripts %}
    <script type="application/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>