{% extends "CMSBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Categoria</td>
            <td><a href="{{ path('pro_categorias_produtos_visualizar', { 'id': entity.categoriaProduto.id }) }}">{{ entity.categoriaProduto.titulo }}</a></td>
        </tr>
        <tr>
            <td>Título</td>
            <td>{{ entity.titulo }}</td>
        </tr>
        <tr>
            <td>Slug</td>
            <td>{{ entity.slug }}</td>
        </tr>
        {% if entity.imageName  %}
        <tr>
            <td>Imagem: </td>
            <td>
                <img src="{{ asset('uploads/produtos/' ~ entity.imageName)}}" />
            </td>
        </tr>
        {% endif %}
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('pro_produtos_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Registros
    </a>
    <a class="btn btn-default" href="{{ path('pro_produtos_atualizar', {'id' : entity.id }) }}">
        <span class="fa fa-edit"></span> Alterar Registro
    </a>
    <a class="btn btn-default" href="{{ path('pro_receitas_novo', {'idProduto' : entity.id }) }}">
        <span class="fa fa-plus"></span> Nova Receita
    </a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('pro_produtos_delete', {'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Registro
    </a>
{% endblock %}