{% extends "CMSBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Título</td>
            <td>{{ entity.titulo }}</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <td>Data de Criação</td>
            <td>{{ entity.created|date("d/m/Y H:i:s") }}</td>
        </tr>
        <tr>
            <td>Data de Atualização</td>
            <td>{{ entity.updated|date("d/m/Y H:i:s") }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ entity.returnStatus }}</td>
        </tr>
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('cms_assuntos_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Registros
    </a>
    <a class="btn btn-default" href="{{ path('cms_assuntos_atualizar', {'id' : entity.id }) }}">
        <span class="fa fa-edit"></span> Alterar Registro
    </a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('cms_assuntos_delete', {'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Registro
    </a>
{% endblock %}