{% extends "CMSBundle:Default:form.html.twig" %}
{% block title %}{{ titulo }}{% endblock %}
{% block body_footer %}
    <a class="btn btn-default" href="{{ path('pro_produtos_listar') }}"><span class="fa fa-list-ul"></span> Listar Produtos</a>
    <a class="btn btn-default" href="{{ path('pro_produtos_visualizar', {'id' : idProduto}) }}"><span class="fa fa-eye"></span> Visualizar Produto</a>
    <a class="btn btn-default" href="{{ path('pro_receitas_listar', { 'idProduto' : idProduto }) }}"><span class="fa fa-list-ul"></span> Listar Registros</a>
{% endblock %}