{% extends "CMSBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Retranca</td>
            <td>{{ entity.retranca }}</td>
        </tr>
        <tr>
            <td>Produto</td>
            <td><a href="{{ path('pro_produtos_visualizar', { 'id': entity.produto.id }) }}">{{ entity.produto.titulo }}</a></td>
        </tr>
        <tr>
            <td>Título</td>
            <td>{{ entity.titulo }}</td>
        </tr>
        <tr>
            <td>Slug</td>
            <td>{{ entity.slug }}</td>
        </tr>
        <tr>
            <td>Resumo</td>
            <td>{{ entity.resumo }}</td>
        </tr>
        <tr>
            <td>Texto</td>
            <td>{{ entity.texto }}</td>
        </tr>
        <tr>
            <td>Crédito</td>
            <td>{{ entity.credito }}</td>
        </tr>
        <tr>
            <td>Legenda</td>
            <td>{{ entity.legenda }}</td>
        </tr>

        {% if entity.imageName  %}
        <tr>
            <td>Imagem: </td>
            <td>
                <img src="{{ asset('uploads/receitas/' ~ entity.imageName)}}" />
            </td>
        </tr>
        {% endif %}
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('pro_produtos_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Produtos
    </a>
    <a class="btn btn-default" href="{{ path('pro_produtos_visualizar', {'id' : idProduto}) }}">
        <span class="fa fa-eye"></span> Visualizar Produto
    </a>
    <a class="btn btn-default" href="{{ path('pro_receitas_listar', {'idProduto' : idProduto}) }}">
        <span class="fa fa-list-ul"></span> Listar Registros
    </a>
    <a class="btn btn-default" href="{{ path('pro_receitas_atualizar', {'idProduto' : idProduto, 'id' : entity.id }) }}">
        <span class="fa fa-edit"></span> Alterar Registro
    </a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('pro_receitas_delete', {'idProduto' : idProduto, 'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Registro
    </a>
{% endblock %}