{% extends 'CMSBundle:Default:security.html.twig' %}
{% block body %}
    <p class="login-box-msg">Iniciar sessão</p>
    {% trans_default_domain 'FOSUserBundle' %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div>
                    <h5>
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                    </h5>
                    <a class="btn btn-warning btn-block" href="{{ path('fos_user_security_logout') }}">
                        <i class="fa fa-sign-out"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                    <br />
                </div>
            {% endif %}
        </div>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if error %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong><span class="fa fa-exclamation"></span> Atenção</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <div class="form-group has-feedback">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Inserir o E-mail"/>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="Inserir a senha" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block btn-flat"><span class="fa fa-sign-in"></span> Entrar</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
    <a href="{{ path('fos_user_resetting_request') }}">Esqueceu a Senha?</a><br>
{% endblock %}