{% extends "CMSBundle:Default:form.html.twig" %}
{% block title %}{{ titulo }}{% endblock %}
{% block body_footer %}
    <a class="btn btn-default" href="{{ path('cms_noticias_listar') }}"><span class="fa fa-list-ul"></span> Listar Notícias</a>
    <a class="btn btn-default" href="{{ path('cms_noticias_visualizar', {'id' : idNoticia}) }}"><span class="fa fa-search"></span> Visualizar Notícia</a>
    <a class="btn btn-default" href="{{ path('cms_enquetes_noticias_listar', {'idNoticia' : idNoticia}) }}"><span class="fa fa-list-ul"></span> Listar Enquete/Notícia</a>
{% endblock %}
