{% extends "CMSBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Notícia</td>
            <td><a href="{{ path('cms_noticias_visualizar', { 'id': idNoticia }) }}"> {{ entity.noticia.titulo }}</a></td>
        </tr>
        <tr>
            <td>Enquete</td>
            <td><a href="{{ path('cms_enquetes_visualizar', { 'id': entity.enquete.id }) }}"> {{ entity.enquete.titulo }}</a></td>
        </tr>
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('cms_noticias_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Notícias
    </a>
    <a class="btn btn-default" href="{{ path('cms_noticias_visualizar', {'id' : idNoticia}) }}">
        <span class="fa fa-search"></span> Visualizar Notícia
    </a>
    <a class="btn btn-default" href="{{ path('cms_enquetes_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Enquetes
    </a>
    <a class="btn btn-default" href="{{ path('cms_enquetes_visualizar', {'id' : entity.enquete.id }) }}">
        <span class="fa fa-search"></span> Visualizar Enquete
    </a>
    <a class="btn btn-default" href="{{ path('cms_enquetes_noticias_atualizar', { 'idNoticia' : idNoticia, 'id' : entity.id }) }}">
        <span class="fa fa-edit"></span> Alterar Notícia/Enquete
    </a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('cms_enquetes_noticias_delete', { 'idNoticia' : idNoticia, 'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Notícia/Enquete
    </a>
{% endblock %}