{% extends "CMSBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Título</td>
            <td>{{ entity.nome }}</td>
        </tr>
        <tr>
            <td>Quantidades de Parcelas</td>
            <td>{{ entity.parcelas }}</td>
        </tr>
        <tr>
            <td>Valor por parcela</td>
            <td>{{ entity.valor|number_format(2, ',', '.') }}</td>
        </tr>

    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('fin_planos_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Registros
    </a>
    <a class="btn btn-default" href="{{ path('fin_planos_atualizar', {'id' : entity.id }) }}">
        <span class="fa fa-edit"></span> Alterar Registro
    </a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('fin_planos_delete', {'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Registro
    </a>
{% endblock %}