{% extends 'CMSBundle:Default:security.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <h3>Usuário criado com sucesso</h3>
    Para que o mesmo possa a ter acesso as funcionalidades do sistema
    é necessário ativar seu usário e liberar os respectivos acessos. <br />
    <a href="{{ path('cms_pessoas_listar') }}">clique aqui</a> e vá para listagem de usuários.
{% endblock %}
