{% extends "@CMS/Assuntos/form.html.twig" %}

{% set titulo = 'Novo Usuário' %}
{% set modulo = [] %}
{% set modulo = modulo|merge({'titulo': 'Novo usuário', 'descricao' : 'Dados do Usuário'}) %}

{% block body %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock %}

{% block body_footer %}
    <a href="{{ path('cms_pessoas_listar') }}" class="btn btn-default"><i class="fa fa-list-ul"></i> Listar Usuários</a>
{% endblock %}
