{% extends "CMSBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Vencimento</td>
            <td>{{ entity.vencimento|date("d/m/Y") }}</td>
        </tr>
        <tr>
            <td>Valor</td>
            <td>{{ entity.valor|number_format(2, ',', '.') }}</td>
        </tr>
        {% if entity.status == 2 %}
        <tr>
            <td>Valor Pago: </td>
            <td>{{ entity.valorPago|number_format(2, ',', '.') }}</td>
        </tr>
        <tr>
            <td>Data de Pagamento</td>
            <td>{{ entity.dataPagamento|date("d/m/Y H:i:s") }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>Status</td>
            <td>{{ entity.returnStatus }}</td>
        </tr>
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('cms_pessoas_listar' }}"><span class="fa fa-list-ul"></span> Listar Pessoas</a>
    <a class="btn btn-default" href="{{ path('cms_pessoas_visualizar', {'id':idPessoa}) }}"><span class="fa fa-search"></span> Visualizar Pessoa</a>
    <a class="btn btn-default" href="{{ path('fin_contratos_listar', {'idPessoa':idPessoa}) }}"><span class="fa fa-list-ul"></span> Listar Pessoa/Contrato</a>
    <a class="btn btn-default" href="{{ path('fin_contratos_visualizar', {'idPessoa':idPessoa, 'id':idContrato}) }}"><span class="fa fa-search"></span> Visualizar Contrato</a>
    <a class="btn btn-default" href="{{ path('fin_faturas_listar', {'idContrato':idContrato}) }}"><span class="fa fa-list-ul"></span> Listar Contrato/Fatura</a>
    <a class="btn btn-default" href="{{ path('fin_faturas_atualizar', {'idContrato':idContrato, 'id' : entity.id}) }}"><span class="fa fa-edit"></span> Alterar Registro</a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('fin_faturas_delete', {'idContrato':idContrato, 'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Registro
    </a>
{% endblock %}