{% extends 'PortalBundle:Default:content.html.twig' %}
{% block title %}{{ titulo }}{% endblock %}
{% block body %}
    <article class="post-item">
        <div class="row">
            {% if item.imageName %}
            <div class="col-md-6">
                <div class="post-image">
                    <a href="{{ path('front_pagina', {'id' : item.id, 'slug': item.slug}) }}">
                        <img src="{{ asset('uploads/paginas/' ~ item.imageName) }}" alt="{{ item.legenda }} Foto: {% if item.credito %}{{ item.credito }}{% else %}Divulgação{% endif %}">
                    </a>
                    <br />
                    <h5>
                        <i>{{ item.legenda }} <small>Foto: {% if item.credito %}{{ item.credito }}{% else %}Divulgação{% endif %}</small></i>
                    </h5>
                </div><!-- end .post-image -->
            </div><!-- end .col -->
            <div class="col-md-6">
                {% else %}
                <div class="col-md-12">
                    {% endif %}
                    <div class="post-content">
                        <h5>{{ item.retranca }}</h5>
                        <h3 class="post-title">
                            <span class="extrabold">{{ item.titulo }}</span>
                        </h3>
                        <div class="post-meta">
                            <span class="post-date">{{ item.created|date('d/m/Y H:i:s') }}</span> por <a href="#">Departamento de Comunicação</a> <br />
                        </div><!-- end .post-meta -->
                        <div class="post-entry">
                            <h5>
                                <i>
                                    {{ item.resumo }}
                                </i>
                            </h5>
                            {{ item.texto|raw }}
                        </div><!-- end .post-entry -->
                    </div><!-- end .post-content -->
                </div><!-- end .col -->
            </div><!-- end .row -->
    </article>
{% endblock %}