{% extends "CMSBundle:Default:form.html.twig" %}
{% block title %}{{ titulo }}{% endblock %}
{% block body_footer %}
    <a class="btn btn-default" href="{{ path('cms_enquetes_listar') }}"><span class="fa fa-list-ul"></span> Listar Enquetes</a>
    <a class="btn btn-default" href="{{ path('cms_enquetes_visualizar', {'id' : idEnquete}) }}"><span class="fa fa-search"></span> Visualizar Enquete</a>
    <a class="btn btn-default" href="{{ path('cms_enquetes_resultados_listar' , {'idEnquete' : idEnquete }) }}"><span class="fa fa-list-ul"></span> Listar Enquete/Resultados</a>
{% endblock %}