{% extends "CMSBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Enquete</td>
            <td><a href="{{ path('cms_enquetes_visualizar', {'id': idEnquete}) }}"> {{ entity.enquete.titulo }}</a></td>
        </tr>
        <tr>
            <td>Ítem Selecionado</td>
            <td><a href="{{ path('cms_enquetes_itens_visualizar', {'idEnquete': idEnquete, 'id' : entity.enqueteItem.id }) }}"> {{ entity.enqueteItem.titulo }}</a></td>
        </tr>
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('cms_enquetes_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Enquetes
    </a>
    <a class="btn btn-default" href="{{ path('cms_enquetes_visualizar', {'id' : idEnquete }) }}">
        <span class="fa fa-search"></span> Visualizar Enquete
    </a>
    <a class="btn btn-default" href="{{ path('cms_enquetes_resultados_listar', {'idEnquete' : idEnquete }) }}">
        <span class="fa fa-list-ul"></span> Listar Enquete/Resultado
    </a>
    <a class="btn btn-default" href="{{ path('cms_enquetes_resultados_atualizar', {'idEnquete' : idEnquete , 'id' : entity.id }) }}">
        <span class="fa fa-edit"></span> Alterar Resultado
    </a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('cms_enquetes_resultados_delete', {'idEnquete' : idEnquete , 'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Resultado
    </a>
{% endblock %}