{% extends "CMSBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Categoria</td>
            <td><a href="{{ path('cms_categorias_view', { 'id': entity.categoria.id }) }}"> {{ entity.categoria.titulo }}</a></td>
        </tr>
        <tr>
            <td>Retranca</td>
            <td>{{ entity.retranca }}</td>
        </tr>
        <tr>
            <td>Título</td>
            <td>{{ entity.titulo }}</td>
        </tr>
        <tr>
            <td>Slug</td>
            <td>{{ entity.slug }}</td>
        </tr>
        <tr>
            <td>Resumo</td>
            <td>{{ entity.resumo }}</td>
        </tr>
        <tr>
            <td>Texto</td>
            <td>{{ entity.texto|raw }}</td>
        </tr>
        {% if entity.imageName  %}
            <tr>
                <td>Imagem: </td>
                <td>
                    <img src="{{ asset('uploads/noticias/' ~ entity.imageName)}}" class='img-responsive img-thumbnail' />
                </td>
            </tr>
            <tr>
                <td>Crédito</td>
                <td>{{ entity.credito }}</td>
            </tr>
            <tr>
                <td>Legenda</td>
                <td>{{ entity.legenda }}</td>
            </tr>
        {% endif %}
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('cms_noticias_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Registros
    </a>
    <a class="btn btn-default" href="{{ path('cms_noticias_atualizar', {'id' : entity.id }) }}">
        <span class="fa fa-edit"></span> Alterar Registro
    </a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('cms_noticias_delete', {'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Registro
    </a>
{% endblock %}