{% extends "CMSBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Retranca</td>
            <td>{{ entity.retranca }}</td>
        </tr>
        <tr>
            <td>Título</td>
            <td>{{ entity.titulo }}</td>
        </tr>
        <tr>
            <td>Slug</td>
            <td>{{ entity.slug }}</td>
        </tr>
        <tr>
            <td>Resumo</td>
            <td>{{ entity.resumo }}</td>
        </tr>
        <tr>
            <td>linq</td>
            <td>{{ entity.linq }}</td>
        </tr>
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('cms_videos_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Registros
    </a>
    <a class="btn btn-default" href="{{ path('cms_videos_atualizar', {'id' : entity.id }) }}">
        <span class="fa fa-edit"></span> Alterar Registro
    </a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('cms_videos_delete', {'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Registro
    </a>
{% endblock %}