{% extends "CMSBundle:Default:form.html.twig" %}
{% block title %}{{ titulo }}{% endblock %}
{% block body_footer %}
    <a class="btn btn-default" href="{{ path('cms_galerias_listar') }}"><span class="fa fa-list-ul"></span> Listar Galerias</a>
    <a class="btn btn-default" href="{{ path('cms_galerias_visualizar', { 'id' : idGaleria }) }}"><span class="fa fa-search"></span> Visualizar Galeria</a>
    <a class="btn btn-default" href="{{ path('cms_galerias_itens_listar', { 'idGaleria' : idGaleria }) }}"><span class="fa fa-list-ul"></span> Listar Galerias/Itens</a>
{% endblock %}
