{% extends "CMSBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Galeria</td>
            <td><a href="{{ path('cms_galerias_visualizar', {'id': idGaleria}) }}"> {{ entity.galeira.titulo }}</a></td>
        </tr>
        {% if entity.imageName  %}
            <tr>
                <td>Imagem: </td>
                <td>
                    <img src="{{ asset('uploads/galerias/itens/' ~ entity.imageName)}}" class='img-responsive img-thumbnail' />
                </td>
            </tr>
            <tr>
                <td>Crédito</td>
                <td>{{ entity.credito }}</td>
            </tr>
            <tr>
                <td>Legenda</td>
                <td>{{ entity.legenda }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>Data de Criação</td>
            <td>{{ entity.created|date("d/m/Y H:i:s") }}</td>
        </tr>
        <tr>
            <td>Data de Atualização</td>
            <td>{{ entity.updated|date("d/m/Y H:i:s") }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ entity.returnStatus }}</td>
        </tr>
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('cms_galerias_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Galerias
    </a>
    <a class="btn btn-default" href="{{ path('cms_galerias_visualizar', { 'id' : idGaleria }) }}">
        <span class="fa fa-search"></span> Visualizar Galeria
    </a>
    <a class="btn btn-default" href="{{ path('cms_galerias_itens_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Galeria/Item
    </a>
    <a class="btn btn-default" href="{{ path('cms_galerias_itens_atualizar', { 'idGaleria' : idGaleria, 'id' : entity.id }) }}">
        <span class="fa fa-edit"></span> Alterar Ítem
    </a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('cms_galerias_itens_delete', { 'idGaleria' : idGaleria, 'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Ítem
    </a>
{% endblock %}