{% extends "CMSBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Notícia</td>
            <td><a href="{{ path('cms_noticias_visualizar', {'id' : entity.noticia.id}) }}">{{ entity.noticia.titulo }}</a></td>
        </tr>
        <tr>
            <td>Nome</td>
            <td>{{ entity.nome }}</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <td>Comentário</td>
            <td>{{ entity.texto }}</td>
        </tr>
        <tr>
            <td>Data do Comentário</td>
            <td>{{ entity.created|date("d/m/Y H:i:s") }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ entity.returnStatus }}</td>
        </tr>
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('cms_noticias_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Notícias
    </a>
    <a class="btn btn-default" href="{{ path('cms_noticias_visualizar', {'id': idNoticia}) }}">
        <span class="fa fa-search"></span> Visualizar Notícia
    </a>
    <a class="btn btn-default" href="{{ path('cms_comentarios_listar', {'idNoticia': idNoticia}) }}">
        <span class="fa fa-list-ul"></span> Listar Notícia/Comentário
    </a>
    <a class="btn btn-default" href="{{ path('cms_comentarios_atualizar', {'idNoticia': idNoticia, 'id' : entity.id }) }}">
        <span class="fa fa-edit"></span> Alterar Registro
    </a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('cms_comentarios_delete', {'idNoticia': idNoticia, 'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Registro
    </a>
{% endblock %}