{% extends "CMSBundle:Default:form.html.twig" %}
{% block title %}{{ titulo }}{% endblock %}
{% block body_footer %}
    <a class="btn btn-default" href="{{ path('cms_paginas_listar') }}"><span class="fa fa-list-ul"></span> Listar Páginas</a>
    <a class="btn btn-default" href="{{ path('cms_paginas_visualizar', { 'id' : idPagina }) ) }}"><span class="fa fa-search"></span> Visualizar Página</a>
    <a class="btn btn-default" href="{{ path('cms_galerias_paginas_listar', { 'idPagina' : idPagina }) }}"><span class="fa fa-list-ul"></span> Listar Página/Galeria</a>
{% endblock %}
