{% extends "CMSBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
    <tr>
        <th width="20%">Campo</th>
        <th width="80%">Valor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Código</td>
        <td>{{ entity.id }}</td>
    </tr>
    <tr>
        <td>Página</td>
        <td><a href="{{ path('cms_paginas_visualizar', {'id': idPagina}) }}">{{ entity.pagina.titulo }}</a> </td>
    </tr>
    <tr>
        <td>Galeria</td>
        <td><a href="{{ path('cms_galerias_visualizar', {'id': entity.galeria.id }) }}">{{ entity.galeria.titulo }}</a> </td>
    </tr>
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('cms_paginaw_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Páginas
    </a>
    <a class="btn btn-default" href="{{ path('cms_paginas_visualizar', { 'id': idPagina }) }}">
        <span class="fa fa-search"></span> Visualizar Página
    </a>
    <a class="btn btn-default" href="{{ path('cms_galerias_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Página/Galeria
    </a>
    <a class="btn btn-default" href="{{ path('cms_galerias_visualizar', { 'id' : entity.galeria.id }) }}">
        <span class="fa fa-search"></span> Visualizar Galeria
    </a>
    <a class="btn btn-default" href="{{ path('cms_galerias_paginas_visualizar', { 'idPagina' : idPagina }) }}">
        <span class="fa fa-list-ul"></span> Listar Página/Galeria
    </a>
    <a class="btn btn-default" href="{{ path('cms_galerias_paginas_atualizar', { 'idPagina': idPagina, 'id' : entity.id }) }}">
        <span class="fa fa-edit"></span> Alterar Página/Galeria
    </a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('cms_galerias_paginas_delete', { 'idPagina': idPagina, 'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Página/Galeria
    </a>
{% endblock %}