{% extends "CMSBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Notícia</td>
            <td><a href="{{ path('cms_noticias_visualizar', {'id': idNoticia}) }}">{{ entity.noticia.titulo }}</a> </td>
        </tr>
        <tr>
            <td>Galeria</td>
            <td><a href="{{ path('cms_galerias_visualizar', {'id': entity.galeria.id }) }}">{{ entity.galeria.titulo }}</a> </td>
        </tr>
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('cms_noticias_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Notícias
    </a>
    <a class="btn btn-default" href="{{ path('cms_noticias_visualizar', { 'id': idNoticia }) }}">
        <span class="fa fa-search"></span> Visualiar Notícia
    </a>
    <a class="btn btn-default" href="{{ path('cms_galerias_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Notícia/Galeria
    </a>
    <a class="btn btn-default" href="{{ path('cms_galerias_visualizar', { 'id' : entity.galeria.id }) }}">
        <span class="fa fa-search"></span> Visualizar Galeria
    </a>
    <a class="btn btn-default" href="{{ path('cms_noticias_galerias_listar', { 'idNoticia' : idNoticia }) }}">
        <span class="fa fa-list-ul"></span> Listar Notícia/Galeria
    </a>
    <a class="btn btn-default" href="{{ path('cms_noticias_galerias_atualizar', { 'idNoticia': idNoticia, 'id' : entity.id }) }}">
        <span class="fa fa-edit"></span> Alterar Notícia/Galeria
    </a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('cms_noticias_galerias_delete', { 'idNoticia': idNoticia, 'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Notícia/Galeria
    </a>
{% endblock %}