{% extends "@CMS/Default/form.html.twig" %}

{% set titulo = 'Atualizar Perfil' %}
{% set modulo = [] %}
{% set modulo = modulo|merge({'titulo': 'Atualizar Perfil', 'descricao' : 'Dados do Usuário'}) %}

{% block body %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock %}

{% block body_footer %}
    <div class="btn-group">
        <a href="{{ path('cms_pessoas_listar') }}" class="btn btn-default"><i class="fa fa-list-ul"></i> Listar Usuários</a>
        <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default"><i class="fa fa-user"></i> Perfil do Usuário</a>
    </div>
{% endblock %}