{% include 'CMSBundle:Default:header.html.twig' %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ modulo.titulo }}
                <small>{{ modulo.descricao }}</small>
            </h1>
            {% block nav %}
                {{ wo_render_breadcrumbs() }}
            {% endblock %}
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ titulo }}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    {% block message %}
                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4><i class="icon fa fa-remove"></i> Atenção</h4>
                                {{ flashMessage }} <br/>
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('info') %}
                            <div class="alert alert-info alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4><i class="icon fa fa-exclamation"></i> Atenção</h4>
                                {{ flashMessage }} <br/>
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4><i class="icon fa fa-check"></i> Parabéns!</h4>
                                {{ flashMessage }} <br/>
                            </div>
                        {% endfor %}
                    {% endblock %}
                    {% block body_header %}

                    {% endblock %}
                    {% block modal %}

                    {% endblock %}
                    {% block body %}

                    {% endblock %}
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    {% block body_footer %}

                    {% endblock %}
                </div>
                <!-- /.box-footer-->
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Versão</b> 0.1
        </div>
        <strong>Copyright &copy; 2015 <a href="http://betagt.com.br">BetaGT Desenvolvimento de Software</a>.</strong>
        Todos os direitos reservados.
    </footer>
</div>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('admin/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script type="text/javascript" src="{{ asset('admin/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script type="text/javascript" src="{{ asset('admin/plugins/morris/morris.min.js') }}"></script>
    <!-- Sparkline -->
    <script type="text/javascript" src="{{ asset('admin/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
    <!-- jvectormap -->
    <script type="text/javascript" src="{{ asset('admin/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
    <!-- jQuery Knob Chart -->
    <script type="text/javascript" src="{{ asset('admin/plugins/knob/jquery.knob.js') }}"></script>
    <!-- daterangepicker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script type="text/javascript" src="{{ asset('admin/plugins/daterangepicker/daterangepicker.js') }}"></script>
    <!-- datepicker -->
    <script type="text/javascript" src="{{ asset('admin/plugins/datepicker/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script type="text/javascript" src="{{ asset('admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}" ></script>

    <script type="text/javascript" src="{{ asset('admin/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/plugins/fastclick/fastclick.js') }}"></script>

{% endblock %}
    <script type="text/javascript" src="{{ asset('admin/dist/js/app.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/dist/js/pages/dashboard.js') }}" ></script>
</body>
</html>
