{% extends('@CMS/Default/base.html.twig') %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/plugins/datepicker/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/plugins/datepicker/locales/bootstrap-datepicker.pt-BR.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/plugins/input-mask/jquery.inputmask.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/plugins/input-mask/jquery.inputmask.date.extensions.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/plugins/input-mask/jquery.inputmask.numeric.extensions.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/plugins/input-mask/jquery.inputmask.extensions.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.datemask').datepicker({
                format: 'dd/mm/yyyy',
                language: 'pt-BR'
            });
            $(".cpf").inputmask("999.999.999-99");
            $(".cnpj").inputmask("99.999.999/9999-99");
            $(".cep").inputmask("99.999-999");
            $(".datemask").inputmask("99/99/9999");
            $('.telefone').inputmask({mask: "(99) 9999-9999[9]", greedy: true});
        });
    </script>
{% endblock %}