<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block styles %}
        <link href="{{ asset('admin/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/dist/css/AdminLTE.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/dist/css/skins/skin-blue.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/plugins/picedit/css/picedit.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>{% block title %}{{ titulo }}{% endblock %}</title>
    <style>

    </style>
</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    {% block header %}
    <header class="main-header">
        <!-- Logo -->
        <a href="{{ path('cms_home') }}" class="logo">
            <span class="logo-mini"><b>CMS</b>Portal</span>
            <span class="logo-lg"><b>BetaGT</b> CMSPortal</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    {#<li class="dropdown messages-menu">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                            {#<i class="fa fa-envelope-o"></i>#}
                            {#<span class="label label-success">4</span>#}
                        {#</a>#}
                        {#<ul class="dropdown-menu">#}
                            {#<li class="header">You have 4 messages</li>#}
                            {#<li>#}
                                {#<!-- inner menu: contains the actual data -->#}
                                {#<ul class="menu">#}
                                    {#<li><!-- start message -->#}
                                        {#<a href="#">#}
                                            {#<div class="pull-left">#}
                                                {#<img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />#}
                                            {#</div>#}
                                            {#<h4>#}
                                                {#Support Team#}
                                                {#<small><i class="fa fa-clock-o"></i> 5 mins</small>#}
                                            {#</h4>#}
                                            {#<p>Why not buy a new awesome theme?</p>#}
                                        {#</a>#}
                                    {#</li><!-- end message -->#}
                                {#</ul>#}
                            {#</li>#}
                            {#<li class="footer"><a href="#">See All Messages</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    <!-- Notifications: style can be found in dropdown.less -->
                    {#<li class="dropdown notifications-menu">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                            {#<i class="fa fa-bell-o"></i>#}
                            {#<span class="label label-warning">10</span>#}
                        {#</a>#}
                        {#<ul class="dropdown-menu">#}
                            {#<li class="header">You have 10 notifications</li>#}
                            {#<li>#}
                                {#<!-- inner menu: contains the actual data -->#}
                                {#<ul class="menu">#}
                                    {#<li>#}
                                        {#<a href="#">#}
                                            {#<i class="fa fa-users text-aqua"></i> 5 new members joined today#}
                                        {#</a>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</li>#}
                            {#<li class="footer"><a href="#">View all</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    <!-- Tasks: style can be found in dropdown.less -->
                    {#<li class="dropdown tasks-menu">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                            {#<i class="fa fa-flag-o"></i>#}
                            {#<span class="label label-danger">9</span>#}
                        {#</a>#}
                        {#<ul class="dropdown-menu">#}
                            {#<li class="header">You have 9 tasks</li>#}
                            {#<li>#}
                                {#<!-- inner menu: contains the actual data -->#}
                                {#<ul class="menu">#}
                                    {#<li><!-- Task item -->#}
                                        {#<a href="#">#}
                                            {#<h3>#}
                                                {#Design some buttons#}
                                                {#<small class="pull-right">20%</small>#}
                                            {#</h3>#}
                                            {#<div class="progress xs">#}
                                                {#<div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">#}
                                                    {#<span class="sr-only">20% Complete</span>#}
                                                {#</div>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</li><!-- end task item -->#}
                                {#</ul>#}
                            {#</li>#}
                            {#<li class="footer">#}
                                {#<a href="#">View all tasks</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</li>#}
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% if app.user.imageFile %}
                                <img src="{{ asset('uploads/galerias/img/' ~ app.user.imageFile) }}" class="user-image" alt="User Image" />
                            {% else %}
                                <i class="fa fa-user"></i>
                            {% endif %}
                            <span class="hidden-xs">{{ app.user.username }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                {% if app.user.imageFile %}
                                    <img src="{{ asset('uploads/galerias/img/' ~ app.user.imageFile) }}" class="img-circle" alt="User Image" />
                                {% else %}
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                </span>
                                {% endif %}
                                <p>
                                    {{ app.user.username }}
                                    <small>{{ app.user.email }}</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            {#<li class="user-body">#}
                                {#<div class="col-xs-4 text-center">#}
                                    {#<a href="#">Followers</a>#}
                                {#</div>#}
                                {#<div class="col-xs-4 text-center">#}
                                    {#<a href="#">Sales</a>#}
                                {#</div>#}
                                {#<div class="col-xs-4 text-center">#}
                                    {#<a href="#">Friends</a>#}
                                {#</div>#}
                            {#</li>#}
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default btn-flat"><i class="fa fa-search"></i> Perfil</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat"><i class="fa fa-sign-out"></i> Sair</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}
{{ include('@CMS/Default/menu.html.twig') }}