{% block menu %}
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    {% if app.user.imageFile %}
                    <img src="{{ asset('uploads/galerias/img/' ~ app.user.imageFile) }}" class="img-circle" alt="User Image" />
                    {% else %}
                        <span class="fa fa-user fa-3x fa-inverse"></span>
                    {% endif %}
                </div>
                <div class="pull-left info">
                    <p>{{ app.user.username }}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            {#<form action="#" method="get" class="sidebar-form">#}
                {#<div class="input-group">#}
                    {#<input type="text" name="q" class="form-control" placeholder="Pesquisar..." />#}
                      {#<span class="input-group-btn">#}
                          {#<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>#}
                      {#</span>#}
                {#</div>#}
            {#</form>#}
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            {{
                knp_menu_render('CMSBundle:Builder:mainMenu', {
                    'currentClass': 'active',
                    'ancestorClass' : 'active',
                    'firstClass' : '',
                    'lastClass ' : '',
                })
            }}
        </section>
        <!-- /.sidebar -->
    </aside>
{% endblock %}