{% extends "CMSBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Razão Social</td>
            <td>{{ entity.razaoSocial }}</td>
        </tr>
        <tr>
            <td>Nome Fantasia</td>
            <td>{{ entity.nomeFantasia }}</td>
        </tr>
        <tr>
            <td>CNPJ</td>
            <td>{{ entity.cnpj }}</td>
        </tr>
        <tr>
            <td>Inscrição Estadual</td>
            <td>{{ entity.inscricaoEstadual }}</td>
        </tr>
        <tr>
            <td>Inscrição Municipal</td>
            <td>{{ entity.inscricaoMuniciapl }}</td>
        </tr>
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('fin_empresas_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Registros
    </a>
    <a class="btn btn-default" href="{{ path('fin_empresas_atualizar', {'id' : entity.id }) }}">
        <span class="fa fa-edit"></span> Alterar Registro
    </a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('fin_empresas_delete', {'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Registro
    </a>
{% endblock %}