{% extends "CMSBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Assunto</td>
            <td><a href="{{ path('cms_assuntos_visualizar', {'id': entity.assunto.id}) }}"> {{ entity.assunto.titulo }}</a></td>
        </tr>
        <tr>
            <td>Nome</td>
            <td>{{ entity.nome }}</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <td>Celular</td>
            <td>{{ entity.celular }}</td>
        </tr>
        <tr>
            <td>Mensagem</td>
            <td>{{ entity.texto|raw }}</td>
        </tr>
        <tr>
            <td>Data da Mensagem</td>
            <td>{{ entity.created|date("d/m/Y H:i:s") }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ entity.returnStatus }}</td>
        </tr>
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('cms_contatos_listar') }}">
        <span class="fa fa-list-ul"></span> Listar Registros
    </a>
    <a class="btn btn-default" href="{{ path('cms_contatos_atualizar', {'id' : entity.id }) }}">
        <span class="fa fa-edit"></span> Alterar Registro
    </a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('cms_contatos_delete', {'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Registro
    </a>
{% endblock %}