{% extends "CMSBundle:Default:form.html.twig" %}
{% block title %}{{ titulo }}{% endblock %}
{% block body_footer %}
    <a class="btn btn-default" href="{{ path('cms_galerias_listar') }}"><span class="fa fa-list-ul"></span> Listar Registros</a>
{% endblock %}
