{% extends "CMSBundle:Default:form.html.twig" %}
{% block title %}{{ titulo }}{% endblock %}
{% block body_footer %}
    <a class="btn btn-default" href="{{ path('cms_pessoas_listar' }}"><span class="fa fa-list-ul"></span> Listar Pessoas</a>
    <a class="btn btn-default" href="{{ path('cms_pessoas_visualizar', {'id':idPessoa}) }}"><span class="fa fa-search"></span> Visualizar Pessoa</a>
    <a class="btn btn-default" href="{{ path('fin_contratos_listar', {'idPessoa':idPessoa}) }}"><span class="fa fa-list-ul"></span> Listar Pessoa/Contrato</a>
{% endblock %}