{% extends "CMSBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Contrato</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Cliente</td>
            <td><a href="{{ path('cms_pessoas_visualizar', { 'id': entity.pessoa.id }) }}">{{ entity.pessoa.nomeFantasia }}</a></td>
        </tr>
        <tr>
            <td>Plano</td>
            <td><a href="{{ path('fin_planos_visualizar', { 'id': entity.plano.id }) }}">{{ entity.plano.nome }}</a> </td>
        </tr>
        <tr>
            <td>Data de Criação</td>
            <td>{{ entity.created|date("d/m/Y H:i:s") }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ entity.returnStatus }}</td>
        </tr>
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('cms_pessoas_listar' }}"><span class="fa fa-list-ul"></span> Listar Pessoas</a>
    <a class="btn btn-default" href="{{ path('cms_pessoas_visualizar', {'id':idPessoa}) }}"><span class="fa fa-search"></span> Visualizar Pessoa</a>
    <a class="btn btn-default" href="{{ path('fin_contratos_listar', {'idPessoa':idPessoa}) }}"><span class="fa fa-list-ul"></span> Listar Pessoa/Contrato</a>
    <a class="btn btn-default" href="{{ path('fin_contratos_atualizar', {'idPessoa':idPessoa, 'id' : entity.id }) }}" ><span class="fa fa-edit"></span> Alterar Registro</a>
    <a class="btn btn-danger confirm-link" href="#" data-link="{{ path('fin_contratos_delete', {'idPessoa':idPessoa, 'id' : entity.id }) }}" ><span class="fa fa-remove"></span> Excluir Registro</a>
{% endblock %}