<div ng-controller="ContatosController">
    <script type="text/ng-template" id="template.html">
        <div class="modal-header">
            <h3 class="modal-title">Atenção</h3>
        </div>
        <div class="modal-body">
            {% verbatim %}{{ mensagem }}{% endverbatim %}
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" data-dismiss="modal"><i class="fa fa-close"></i> Fechar</button>
        </div>
    </script>
</div>