{% extends 'PortalBundle:Default:content.html.twig' %}
{% block style %}
    {{ parent() }}
{% endblock %}
{% block title %}{{ titulo }}{% endblock %}
{% block body %}
    <section id="blog" class="blog section">
        <div class="container">
            <div class="row">
                <!-- testFilter.html.twig -->
                <form method="get" action="." class="formp-inline">
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" id="receitas_filter_titulo" name="receitas_filter[titulo]" class="form-control" placeholder="Inserir algum texto" >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="button" style="margin: 0px;">
                            <button type="submit" name="submit-filter" id="submit" >
                                <i class="fa fa-search"></i> Pesquisar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <br />
            {% for item in pagination %}
                <article class="post-item">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="post-image">
                                <a href="{{ path('front_receita', {'id' : item.id, 'slug': item.slug}) }}"><img src="{{ asset('uploads/receitas/' ~ item.imageName) }}" alt=""></a>
                            </div><!-- end .post-image -->
                        </div><!-- end .col -->
                        <div class="col-md-6">
                            <div class="post-content">
                                <h3 class="post-title"><a href="{{ path('front_receita', {'id' : item.id, 'slug': item.slug}) }}"><span class="extrabold">{{ item.titulo }}</span></a></h3>
                                <div class="post-meta">
                                    <span class="post-date">{{ item.created|date('d/m/Y H:i:s') }}</span> por <a href="#">Departamento de Comunicação</a>
                                </div><!-- end .post-meta -->
                                <div class="post-entry">
                                    <p>
                                        {{ item.resumo }}
                                    </p>
                                </div><!-- end .post-entry -->
                            </div><!-- end .post-content -->
                        </div><!-- end .col -->
                    </div><!-- end .row -->
                </article>
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}